header {
  background: linear-gradient(93deg, #00662C 0%, #002837 100%);
  position: relative;

}

.ornl-header {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 16px 24px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background: transparent;

  input {
    display: flex;
    height: var(--size-component-medium, 48px);
    padding: var(--spacing-xsmall, 8px);
    align-items: center;
    gap: var(--spacing-xsmall, 8px);
    align-self: stretch;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: var(--corner-large, 8px);
    border: 1px solid var(--border-weak, #E5E5E5);
    background: transparent;

    &::placeholder {
      color: #fff;
    }
  }
}

.ornl-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  mix-blend-mode: soft-light;
  pointer-events: none;
}

.ornl-header--left, .ornl-header--right {
  display: flex;
  align-items: center;

}

.ornl-header--horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #EFEFEF;
  padding: 20px 24px;

  input {
    display: flex;
    height: 26.5px;
    padding: var(--spacing-xxsmall, 3.313px) var(--spacing-xsmall, 6.625px);
    align-items: center;
    gap: var(--spacing-xsmall, 6.625px);
    align-self: stretch;
    margin-right: 8px;
  }
}

.ornl-linklist {
  display: flex;
}

.ornl-linklist a {
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}


.ornl-header img {
  height: 48px;
  width: auto;
  align-self: center;
}



/* .storybook-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 6px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.storybook-header button + button {
  margin-left: 10px;
}

.storybook-header .welcome {
  margin-right: 10px;
  color: #333;
  font-size: 14px;
} */